/* 
<!--
    Name - ID Hetvi Desai - 1002034196
              Ganesh Dontha - 1002006784
              Snehith Gandla - 1002078488
    

    -->
*/
* {
  box-sizing: border-box;
}
p{
  text-align: justify;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro',sans-serif;
      float: left;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  /* background-color: rgb(238, 180, 109); */
}
.indexheader
{
  background-color: none;
  color: #000000;
}
.indexbody
{
  margin: 0;
    font-family: 'Source Sans Pro',sans-serif;
    float: left;
    width: 100%;
    height: 100%;
    color: #111;
    /* background-color: rgb(241, 238, 234); */
    /* background: blue no-repeat center center fixed; */
    /* height: 100vh; */
    /* border: 2px solid black; */
    /* padding: 25px; */
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-size: 100vh;
    */
}
/*  */
@media only screen and (max-width:780px)
            {
              .indexbody
              {
                background: blue;
                 background-size: cover;
                  background-position: center center;
                   background-repeat: no-repeat;
                    background-attachment: fixed;
              }
              }
.row {
  margin-bottom: 20px;
  display: flex;
}

.row .row {
  margin: 0;
}

.row > * {
  padding: 15px;
  flex: 1;
  /* background-color: rgba(11, 1, 54, 0.15); */
  /* border: 1px solid rgba(86, 61, 124, 0.2); */
}

.one-half {
  width: calc(100% * 1 / 2);
  flex: none;
}

.two-thirds {
  width: calc(100% * 2 / 3);
  flex: none;
}
.one-thirds
{
  width: calc(100% * 3 / 4);
  flex: none;
}
.one-fourths
{
  width: calc(100% * 1 / 4);
  flex: none;
}
 .page-header-top ul li a{
  text-decoration: none;
}
.padding_25{
  padding: 25px;
}
.page-header-top {
  
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: right;
  background-color: rgb(164, 5, 10);
  /* border-bottom: 2px solid #fff; */
  color: rgb(4, 2, 2);
  margin-bottom: 5px;
 
}
.logo
{
  width:100%;
  height:100px;
  border-radius: 30px;
}
.page-header-top ul {
  background-color: rgb(164, 5, 10);
  padding: 0px;
  color: white;
  display: inline-block;
  margin: 0px;
  height:100px;
}
.page-header-top ul li {
  display: inline-block;
}

  .page-header-top ul li a{
  display: inline-block;


    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding: 40px 40px;
    
  
}
.page-header-top ul li a .logo{
padding: 0;
}
/* box styles */
.box
{
  display: block;
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;

}
.full
{
  width: 100%;
  
}
.heading{
  margin-left: 50px;
  margin-top: 150px;
  font-size: larger;
}
.half
{
  width: 50%;
  margin-left: 60px;
  margin-top: 50px;
}
.box-body{
border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  

}
.box-body:before
{
  content: " ";
  display: table;
}
/* image */
.item_image {
  width: 150px;
  height: 150px;
  /* max-width: 70px;
  max-height: 70px; */
}
.items
{
  height: 100%;
  min-height: 150px;
  cursor: pointer;
  margin-right:5px;
  margin-bottom: 15px;
}
.items:hover
{
transform: scale(1.1); 
}
table.timetable_sub {
width: 100%;
margin: 0 auto;
}

.timetable_sub thead {
background: #004284;
}

.timetable_sub th {
background: #000000;
color: #fff !important;
text-transform: capitalize;
font-size: 13px;
border-right: 1px solid #ded2d2;
}

.timetable_sub td {
text-align: center;
padding: 7px;
font-size: 14px;
color: #000000;
}

.timetable_sub th {
text-align: center;
padding: 15px;
font-size: 14px;
color: #000000;
}

.timetable_sub td {
border: 1px solid #CDCDCD;
}

td.invert-image a img {
width: 30%;
margin: 0 auto;
}

.search_item
{
  text-transform: uppercase;
  font-size: 10px;
  color: #000000;
  text-align: center;
  text-overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}
/* text in center */
.text-center
{
  text-align: center;
}


@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .row > * {
    width: 100%;
    flex: none;
  }

  .row .row {
    margin: 15px -15px -15px;
  }
  .page-header-top ul li a{
    display: inline-block;
  

      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      display: block;
      padding: 1px 2px;
      font-size: x-small;
      
    
  }
}

/* form and inputs styles */
.form{
  padding: 25px 30px;
}

 .header{
  margin-bottom: 10px;
  font-family: "Amazon Ember",Arial,sans-serif;
  
}
.form form{
  margin: 20px 0;
}

  .form form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  position: relative;
}
.form form .field label{
  margin-bottom: 2px;
}
.form form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form form .field input{
  outline: none;
}
.form form .image input{
  font-size: 17px;
}
.button input{
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}
td.add .button {
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 13px; */
}
td.delete .button {
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 13px; */
}

.button a{
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
}
a{
  text-decoration: none;
  text-align: center;
}
.form form .field i{
  position: absolute;
  right: 15px;
  top: 70%;
  color: #ccc;
  cursor: pointer;
  transform: translateY(-50%);
}
.form form .field i.active::before{
  color: rgb(0, 0, 0);
  content: "\f070";
}
.form .link{
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a{
  color: rgb(0, 0, 0);
}
.form .link a:hover{
  text-decoration: underline;
}

table
{
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
 
}
td
{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #CDCDCD;

}
th
{
  border: 1px solid #ccc;;
  background-color: #000000;
  color: white;
  padding:15px;
}
.chat{
  position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 1000;
    border-radius: 30%;
    /* background-color:rgb(18, 18, 105);; */
    color: rgb(255, 153, 0);
    /* border: 2px solid black;; */
    height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: rgb(0, 0, 0);
  margin-top: 13px;
}
   
